$color: #003c75;

.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9fafb;
  color: #003c75;
  z-index: 999999;
  pointer-events: none;
  opacity: 1;
  visibility: visible;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  color: #003c75;
  border-radius: 50%;
  display: grid;
  background:
    conic-gradient(from 90deg at 4px 4px, #0000 90deg, currentColor 0) -4px -4px/calc(50% + 2px) calc(50% + 2px),
    radial-gradient(farthest-side, currentColor 6px, #0000 7px calc(100% - 6px), currentColor calc(100% - 5px)) no-repeat;
  animation: l10 2s infinite linear;
  position: relative;
}

.loader:before {
  content: "";
  border-radius: inherit;
  background: inherit;
  transform: rotate(45deg);
}

@keyframes l10 {
  to {
    transform: rotate(.5turn)
  }
}