fastapi==0.111.0
gunicorn==22.0.0
numpy==1.26.4
pandas==2.2.2
pydantic==2.7.1
pydantic_core==2.18.2
python-dotenv==1.0.1
PyYAML==6.0.1
scikit-learn==1.4.2
scipy==1.13.0
pytest==8.2.2
pytest-mock==3.14.0